.container{
    background-color: white;
    max-width: 40%;
    /* min-width: 300px; */
    margin: 4rem auto;
    padding: 2rem;
    border: 1px gray solid;
    border-radius: 8px;
}

.mt_1{
    margin-top: 4rem;
    /* color: white; */
}

.btn{
    padding: 15px 30px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.1rem;
}

.btn:hover{
    background-color: rgba(255, 166, 0, 0.712);
    color: white;
    

}

