.prueba{
    background-color: lightcoral;
}

.activate{
    animation-name: btn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes btn{
    0%{box-shadow: inset 0 0 0 0px #73737c;}
    100%{box-shadow: inset 0 0 0 2px #73737c;}
}

.filter{
    position: fixed;
    box-shadow: 5px 5px 15px #566573;
    left: -290px;
    width: 250px;
    z-index: 100;
    transition: all 150ms linear;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
    top: 190px;
    background: rgba( 245, 176, 65, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
}

.filterBtn{
    position: absolute;
    left: 300px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 50%;
    background-color: #5D6D7E;
    color: #ffffff;
    transition: all 0.5s;
}

.filterOptions{
    list-style: none;
    padding: 0 0 0 0px;
}

.filterItem{
    cursor: pointer;
}

.filterItem:hover{
    cursor: pointer;
    background-color: teal;
}

.filterTittle{
    font-weight: 500;
    padding-left: 5px;
}

.filterActive{
    left: 0px;
}

a{
    text-decoration: none;
    color: black;
}

.valuesMM{
    display: flex;
    justify-content: space-around;
    margin-top: 10PX;
}

.value{
    width: 60px;
}

select{
    width: 100%;
    margin-top: 15px;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 3px;
}

#clean, #search{
    width: 80%;
    border: none;
    cursor: pointer;
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 15px;
    padding: 5px 0px;
    border-radius: 3px;
    font-weight: 400;
    transition: all 0.5s;
}

.priceFilter{
    display: block;
    margin: auto;
    margin-top: 15px;
    font-weight: 600;
}

.filterBtn:hover{
    background-color: #2ECC71;
}

.btnFilterActive{
    background-color: #2ECC71;
}

#clean:hover, #search:hover{
    background-color: #2ECC71;
    color: #ffffff;
}

#containerProducts ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

#containerProducts ul li a{
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
    display: block;
    transition: all 0.3s;
}

#containerProducts ul li{
    border-radius: 5px;
}

#containerProducts ul li a:hover{
    background-color: rgb(223, 223, 223);
    box-shadow: inset 0px 0px 4px 1px gray;
}

.activePaginationBtn{
    background-color: rgb(223, 223, 223);
    box-shadow: inset 0px 0px 4px 1px gray;
}

.productListSpinnerContainer{
    width: 100vw;
    height: 90vh; 
    /* position: absolute; */
    display: flex;
    justify-content: center;
}

.productListSpinnerContainer > img {
    padding-bottom: 200px;
}

@media (max-width: 650px) {
    #containerProducts ul li{
        display: none;
    }

    #containerProducts ul li:last-child, #containerProducts ul li:first-child{
        display: block;
    }
}