@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

:root {
  --font: "Nunito Sans", sans-serif;
  --backTitel: #d0d0d0;
}

.container {
  background-color: white;
  height: 87.9vh;
}

.header {
  background-color: var(--backTitel);
  display: flex;
  height: 60px;
  align-items: center;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

.back {
  width: 10%;
  outline: none;
  font-size: 35px;
}

.title {
  width: 100%;
}

.cart_items_container {
  display: flex;
  height: auto;
  padding-bottom: 15px;
}

.cart_items {
  width: 80%;
}
.cart_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
.cart_container::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.cart_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.total_products {
  margin-top: 50px;
  width: 20%;
  text-align: center;
  height: 170px;
  min-width: 150px;
  position: fixed;
}
.total_container {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.cart_container {
  height: 75vh;
  padding-top: 2px;
  overflow-y: scroll;
  margin-top: 8px;
}

.hr {
  width: 50%;
  min-width: 110px;
}

.buttonSubmit {
  font-family: var(--font);
  background-color: #000000;
  color: white;
  font-weight: 600;
  width: 100px;
  margin: auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.total {
  display: block;
  margin: 20px 0px;
}

@media (max-width: 920px) {
  .total_container {
    margin-left: 90px;
  }
}

@media (max-width: 800px) {
  .total_container {
    margin-left: 60px;
  }
}

@media (max-width: 600px) {
  .total_products {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--backTitel);
  }

  .hr {
    display: none;
  }

  .total {
    margin: 0px;
  }

  .header {
    font-size: 13px;
  }

  .back {
    margin-left: 10px;
  }

  .cart_items {
    width: 100%;
  }
}
