.infoContainer{
    height: 450px;
    overflow: auto;
    width: 50%;
    min-width: 350px;
}

.optionsContainer{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 20px;
    transition: all 0.5s;
}

.optionsContainer:hover{
    background-color: blueviolet;
    padding-left: 35px;
    font-weight: 600;
}