.cart_product {
  margin-top: 30px;
  height: 100px;
  width: 98%;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.cart_product > img {
  width: 90px;
  height: 90px;
}

.name_price_product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
}

.icons_container {
  margin-left: 20%;
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: space-between;
}

.icons_container > i {
  cursor: pointer;
}

.cost {
  padding-top: 10px;
}

.cost > p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  margin-top: 15px;
  font-family: "Nunito Sans", sans-serif;
}

.cost > b {
  font-size: 25px;
  font-family: "Nunito Sans", sans-serif;
}
