@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.container {
  height: 5rem;
  background-color: #232f3e;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  font-size: 12px;
  display: flex;

  justify-content: center;
  width: 100%;
  text-decoration: none;
  color: white;
  font-family: "Libre Baskerville", serif;
}

.logo_searchbar_login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
}

.logo_searchbar_login > a {
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 35px;
  border-radius: 50px;
  margin-right: 0.3rem;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  cursor: pointer;
  font-size: 22px;
  text-decoration: none;
  color: white;
  margin-right: 15px;

}

.cart_login {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart_login > span {
  font-size: 20px;
  width: 150px;
  cursor: pointer;
  text-align: center;
}

.cart_favorite > img {
  width: 40px;
  height: 35px;
  cursor: pointer;
  margin-right: 15px;
}

.cart_container > img {
  width: 40px;
  height: 35px;
  cursor: pointer;
  position: relative;
}

.cart_container > span {
  position: absolute;
  top: 0;
  background: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  color: black;
  padding: 3px 4px 3px 4px;
  text-align: center;
  font-size: 11px;
  margin-top: 10px;
  margin-left: 4px;
  font-weight: bold;
  cursor: default;
}

.cart_favorite {
  display: flex;
  justify-content: space-between;
  width: 135px;
  margin-left: 20px;
}

.searchBar {
  height: 36px;
  width: 250px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
  border: none;
  border-radius: 2px;
}
.searchBar::placeholder {
  padding-left: 10px;
}

.logo_container {
  display: flex;
  width: 230px;
  font-size: 22px;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.about_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  cursor: pointer;
  font-size: 20px;
}

.searchbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
}

.autoContainer{
  display: block;
  background: lightgray;
  position: absolute;
  top: 57px;
  width: 250px;
}

.autoContainer button{
  width: 100%;
  background-color: white;
  border: none;
  text-align: left;
}

.searchbar_container > button {
  background: no-repeat;
  border: none;
}

.searchbar_container  img {
  height: 28px;
}

@media (max-width: 1150px) {
  .about_container {
    width: 150px;
    font-size: 20px;
  }
  .searchbar_container > img {
    width: 30px;
    height: 25px;
  }
  .searchbar_container {
    width: 275px;
  }
  .searchBar {
    width: 240px;
  }

  .cart_login {
    width: 370px;
  }
  .cart_login > span {
    font-size: 20px;
    width: 130px;
  }

  .cart_favorite > img {
    width: 35px;
    height: 30px;
    margin-top: 5px;
  }
  .cart_container {
    margin-right: 20px;
    margin-left: 0px;
  }
  .cart_favorite {
    width: 145px;
  }
}
