.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav > a {
  text-decoration: none;
  color: black;
}
.productsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 30px;
}

.manageProductsContainer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.manageProductsContainer ul li {
  padding: 13px;
  margin: 10px 10px 0px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
}

.manageProductsContainer ul li:hover {
  background-color: rgb(223, 223, 223);
  box-shadow: inset 0px 0px 4px 1px gray;
}
.activePaginationBtn {
  background-color: rgb(223, 223, 223);
  box-shadow: inset 0px 0px 4px 1px gray;
}
