.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav > a {
  text-decoration: none;
  color: black;
}
.productsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 30px;
}
