#ManageProductsPagination ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#ManageProductsPagination ul li {
  padding: 13px;
  margin: 10px 10px 0px;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
}

#ManageProductsPagination ul li:hover {
  background-color: rgb(223, 223, 223);
  box-shadow: inset 0px 0px 4px 1px gray;
}
