.ordeninfo{
    height: 100vh;
   
}



.ordeninfo h2{
    text-align: center;
}

.ordeninfo table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-shadow:
    0 3.6px 2.4px rgba(0, 0, 0, 0.08),
    0 10px 6.8px rgba(0, 0, 0, 0.052),
    0 24.1px 16.3px rgba(0, 0, 0, 0.04),
    0 80px 54px rgba(0, 0, 0, 0.028)
  ;
}

.ordeninfo td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.ordeninfo tr:nth-child(even) {
    background-color: #dddddd;
  }

.ordeninfo a{
    color:blue ;
}

.selectorders{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 30px;
}


.selectorders h4{
    margin: 10px;
}

.selectorders select{
    width: 20%;
    margin: 0;
    padding: 5px 10px;
}

.customselect{
    background-color: #232f3e;
    color: #fff;
    border: 1px solid transparent;
    
}

.customselect select {
    display: none; 
  }



