.container {
    background:#232f3e;
    height: 100px;
    display: flex;
    border-top: 1px white solid;

}
 

.piedepagina{
    display: block;
    width: 40%;
    text-align: center;
}

.piedepagina div{
    margin: 0 80px;
}

.piedepagina h2{
    color: #fff;
    width: 100%;
    
}

.conocenos{
    margin-top: 25px;
}

.conocenos h2{
    color: #fff;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.footericon{
    font-size: 30px;
    color: white;
    margin: 0 7px;
}

.piedepagina p{
    text-align: center;
}

.contactusinfooter{
    margin: auto;
}

.contactusinfooter h2{
    text-align: center;
    color: white;
}

/* .contactusinfooter button{
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 30px;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
}

.contactusinfooter :hover{
    background-color: #3483fa;

} */

.copyright{
    display: inline-block;
    margin: 10px auto;
    width: 100%;
}

.copyright p{
    font-size: 18px;
    line-height: 26px;
    color: #adb5bd !important;
    text-align: center;
}

.express{
    filter: brightness(0) invert(1);
}

@media screen and (max-width: 992px){
    .piedepagina{
        text-align: center;
        display: inline;
    }

    .conocenos{
        width: 100%;
        text-align: center;
    }

    .contactusinfooter{
        text-align: center;
        margin-top: 30px;
    }

    .container{
        display: block;
        height: auto;
    }

    
}