.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background-color: #232f3e;
  color: white;
  height: 80px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav > a {
  text-decoration: none;
  color: black;
}

.nav > span {
  font-size: 20px;
  margin-top: -45px;
  margin-right: 45px;
}

.backIcon {
  padding-left: 10%;
  padding-top: 15px;
}

.manageProductIcon {
  margin-top: -45px;
  margin-right: 45px;
  font-size: 20px;
}
.offersManagerIcon {
  margin-top: -45px;
  margin-right: 45px;
  font-size: 20px;
}
.offersManagerIcon > a {
  color: white;
}
.manageProductIcon > a {
  color: white;
}
.nav > li {
  margin-top: -45px;
  margin-right: 45px;
  font-size: 20px;
}
.pointer {
  cursor: pointer;
}
