.navbar{
  background-color: #232f3e;
  color: white;
}

.options__container{
  width: 95%;
  margin: auto;
  display: flex;
  font-size: 20px;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.navItem{
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.navbar a{
  width: 22%;
  transition: all 0.3s;
}

.backIcon{
  width: 10%;
  cursor: pointer;
}

.navbar a:hover{
  font-size: 25px;
}

.active{
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #3e4c5d;
  background: #3e4c5d;
}

@media (max-width: 500px){

  .navbar{
    bottom: 0px;
    position: fixed;
  }

  .options__container{
    font-size: 15px;
    flex-direction: row;
    height: 50px;
    width: 100vw;
    justify-content: flex-start;
  }
  .active{
    font-size: 20px;
  }
  .backIcon{
    font-size: 25px;
    margin-left: 5px;
  }
}