.container {
   
    width: 97vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container > img {
    object-fit: contain;
    height: 100%;
    min-width: 300px;
    max-width: 1000px;
}

