@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

.flex_main_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    height: 100vh;
   
}
.header_container {
    height: 70px;
    /* line-height: 70px; */
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

/* .header_container:nth-child(1) {
    order: 0;
    flex: 1 1 10%;
    align-self: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
} */

.data_container:nth-child(2) {
    order: 0;
    flex: 10 1 auto;
    align-self: auto;
    margin-left: .8em;
    padding-top: 4em;
}

.data_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    height: 100vh;
}

.sidebar_container {
    height: max-content;
    order: 0;
    flex: 2 1 auto;
    align-self: auto;
    border: 1px grey solid;
    border-radius: 8px;    
    max-width: max-content;
}

.form > div {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    align-items: center;
  
}

.form > div select {
    font-size: 1.2rem;
    border-radius: 4px;
    margin-top: 0;
    border: 1px solid grey;
    height: 1.7em;
}

[type="date"] {
    border: 2px grey solid;
    font-size: 1.2rem;
    border-radius: 4px;
    width: 231px; 
}

.sidebar_container label {
    margin-bottom: .5em;
}

.status_descuento_container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}

.status_descuento_container div {
    display: flex;
    flex-direction: column;
}
.status_descuento_container input {
    width: 50px;
    font-size: 1.2rem;
    text-align: center;
}
.status_descuento_container label {
    margin-bottom: 0.5em;
}

.info_container {
    overflow: scroll;
    order: 0;
    flex: 11 1 auto;
    align-self: stretch;
}

.spinner_container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
}

.backicon {
    cursor: pointer;
}

/* .title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: -40px;
} */

.card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    max-width: 300px;
    margin-right: 0.5em;
    margin-bottom: 2em;
    flex: 0 1 25%;
    box-shadow: 5px 10px 8px #888888;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1); 
}

.card_info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}
.card_info span {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.card_status_delete {
    display: flex;
    justify-content: space-around;
    padding-top: 0.3em;
    padding-bottom: 0.9em;
}

.card_status_delete > i {
    cursor: pointer;
    font-size: 1.5em !important;
    font-weight: 400 !important;
}

.file_name_input > [type="text"] {
     text-align: center;
     margin-bottom: 1em;
     padding: .8em;
 }

 .offers_empty {
     display: flex;
     align-items: center;
     height: 50vh;
     font-size: 1.5em;
 }



@media only screen and (max-width: 630px){
    .data_container{
        flex-direction: column;
        overflow: none;
    }
    .card {
        margin-top: .8em;
        margin-left: 0;
        margin-right: 0;
    }
    .sidebar_container {        
        margin: auto;
        padding-left: 1.15em;
        padding-right: 1.15em;
        margin-bottom: 1em;
    }
    .data_container:nth-child(2) {
        padding-top: 1em;        
    }
}
